/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 oct. 2016, 15:27:18
    Author     : kilian
*/


/* Modification css pour style.css
=================================================================== */
html, body, .container-fluid-full, .row-fluid{
    height:100%;
}
.heightfull {
     height: calc(100% - 41px) !important;
}
.overscrollfolder {
    height:100%;
    overflow-y: scroll;
}

.navbar-inner {
    background: #CC3939 !important;
}
    
.nav-tabs.nav-stacked > li > ul > li > a {
    color: red !important;
}

#content {
    padding: 0px !important;
    height: calc(100% - 100px);
    min-height: 100% !important;
     
}

.statbox .footer {
    background-color: #19FFFF !important;
}


/* Modification css pour style-responsive.css
=================================================================== */
@media (min-width: 1200px) {
    #content {
    }

    #sidebar-left {
        
        background-color: white !important;
       
    }
}

@media only screen and (min-width: 980px) and (max-width: 1199px){
    #content {
    width: 100% !important;
    padding: 0px !important;
    }
    
    #sidebar-left {
        height: 100% !important;
        background-color: white !important;
    }
}


/* Modification css pour bootstrap.min.css
=================================================================== */
.navbar .nav>li>a {
    color:#fff !important;
}
.nav.pull-right {
    margin-left:10% !important;
    margin-right:auto !important;
    float: left !important;
}


/* Ajout css pour principal.jsp
=================================================================== */
.btn_action li {
    margin: -12px 0px -5px 0px;
}
	
li.btn_action a {
    color: #fff;
    text-shadow: none;
}

#volet{
    width: 100%;
    height: 40px;
    position:absolute;
    padding:0;
    line-height:40px;
}
.mainfile {
    margin-top: 40px;
    padding-top: 10px;
}
#volet a {
    width: 50%;
    height: 40px;
    float: left;
    text-align: center;
    color: #646464;
    font-size: 15px;
}


/*#box_editeur {
    height: 100%;
    //margin-left: 14.55%;
    margin-top: -0.5%;
}*/

#menu
{
    height: 30px;
    padding-top: 3px;
}


#onglets
{
    font : bold 11px Batang, arial, serif;
    list-style-type : none;
    padding-bottom : 28px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    border-bottom : 1px solid #9EA0A1;
    margin-left : 0;
}

#onglets li
{
    border-radius: 10px 10px 0px 0px;
    float : left;
    height : 23px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
}

#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#onglets a
{
    display: block;
    color: #666;
    text-decoration: none;
    padding: 4px;
}

#onglets a:hover
{
   
}


#editeur {
   
    height: calc(100% - 81px);
    border: 1px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow: auto;
    word-wrap: break-word;
    padding: 0;
    background: black;
    color: white;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}

#lignes {
    width: 3%;
    height: 100%;
    background-color: graytext;
}

.project {
    color: red;
}

.folder {
    color: blue;
}

.folder ul li{
    list-style-type: none;
}

.file {
    color: green;
}

.header-nav {
    font-size: 12px;
    
}

.menu-options{
    margin-left: 230px !important;
}

footer {
    color:white;
    background: #CC3939 !important;
    position:fixed;
    bottom: 0px;
    width:100%;
}

#editeur code {
    height: 100%;
}

.main-menu{
    min-width: 300px;
}

.easytree-container{
    border: 0 !important ;
}

.arbre{
    margin-top: 10px;
}
.modal {
    left: 15% !important;
    width: 70% !important;
    margin-left: 0 !important;
}
.fade.in {
    display:block !important;
}
#listuser {
    left: 20% !important;
    width: 60% !important;
}

.console {
    display:none;
        height: 200px;
    position: absolute;
    width: 100%;
    bottom: 63px;
    z-index: 100;
    color:#fff;
}

.verou-bloque span{
    color: red !important;
}

.body_console {
    background: rgb(8, 77, 17);
        height: 180px;
        font-weight:bold;
        padding:10px;
}

.verou-reserve span{
    color: green !important;
}

.title_console span {
    padding: 10px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius:  10px 10px 0 0;
    background: rgb(8, 77, 17);
    margin-left: 10px;
}

#toolbar{
    margin:5px;
    min-width: 450px;
}

.closeconsole {
    float:right;
    color:#fff;
    padding:20px;
}
#sidebar-left {
    width:20%;
}    
@media (min-width: 1200px){
#content {

    margin-left: 16.422%;
}
}
#btn_verrouiller{
    color: green;
}

.closeconsole i {
    color:#fff;
}

#btn_deverrouiller{
    color: red;
}


#btn_sauvegarder{
    color: blue;
}

#btnNewFolder{
    color: brown;
}

#btnNewFile{
    color: white;
}

#btn_rename{
    color: orange;
}