.logo {
	text-align: center;
	margin: 15% 0;
}
.logo img {
	width:250px;
	margin-bottom: 20px
}
.bouton {
	float: right;
    margin: 30px 0;
}
.logo p {
	color: #fff;
    font-size: 16px;
}
.inscription .input-prepend p {
	font-size: 14px;
	text-align: left;
}
.inscription .input-prepend {
	padding: 0;
}
.login-box.inscription input[type="text"], .login-box.inscription input[type="password"] {
	border-left: 1px solid #eee !important;
}
.login-box.inscription {
	width: 500px;
}
.row-fluid .inscription input[class*="span"].offset1 {
margin-left: 10.638297872340425%!important;
}